<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="">
    <title>{{ title }}</title>
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <style>
      #myDIV {
        width: 50%;
        display: none
      }
      </style>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
   <div class="container-fluid">
        <div class="jumbotron">

        <h3 style="color: #5e9ca0;">Measures:</h4>
        <table border="1">
        <thead><tr><th><h4 style="color: #fffff;text-align:center">Name</h4></th><th><h4 style="color: #fffff;text-align:center">Temperature</h4></th><th><h4 style="color: #fffff;text-align:center">Umidity</h4></th><th><h4 style="color: #fffff;text-align:center">Mode</h4></th><th><h4 style="color: #fffff;text-align:center">Function</h4></th><th><h4 style="color: #fffff;text-align:center">State</h4></th><th><h4 style="color: #fffff;text-align:center">Setpoint</h4></th><th><h4 style="color: #fffff;text-align:center">C2C Subscription</h4></th><th><h4 style="color: #fffff;text-align:center">MQTT Staus Topic</h4></th><th><h4 style="color: #fffff;text-align:center">MQTT Command Topic</h4></th><th><h4 style="color: #fffff;text-align:center">Lovelace Card</h4></th></tr></thead>
        <tbody>
            {% for i in j_response %}
                    <tr>
                        <td style="text-align:center">{{ i['name'] }}</td>
                        <td style="text-align:center">{{ i['temperature'] }}C°</td>
                        <td style="text-align:center">{{ i['humidity'] }}%</td>
                        <td style="text-align:center">{{ i['mode'] }}</td>
                        <td style="text-align:center">{{ i['function'] }}</td>
                        <td style="text-align:center">{{ i['state'] }}</td>
                        <td style="text-align:center">{{ i['setpoint'] }}</td>
                        <td style="text-align:center">{{ i['c2c-subscription'] }}</td>
        		<td style="text-align:center">{{ i['mqtt_status_topic'] }}</td>
            <td style="text-align:center">{{ i['mqtt_cmd_topic'] }}</td>
            <td style="text-align:center"><button onclick="hiddendiv('{{ i['name'] | lower | replace(" ", "_") }}')";>Try it</button></td>
                    </tr>
        
            {% endfor %}
        </body>
        </table>
      </tbody>
      <body>
        <input type="button" id='script' name="scriptbutton" value=" Create HA Entities " onclick="goPython()">
    
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    
        <script>
            function goPython(){
                $.ajax({
                  url: "create_entities",
                 context: document.body
                }).done(function() {
                 alert('Please Validate the configuration and Restart Home Assistant');;
                });
            }
        </script>
                </div>
    </div>
    <div id="myDIV" class="container-fluid">
      <div class="jumbotron">
        <figure>
          <pre id="my_code">
            <code>
type: vertical-stack
cards:
  - type: horizontal-stack
    cards:
      - type: entity-filter
        show_empty: false
        state_filter:
          - operator: '!='
            value: None
        entities:
          - entity: sensor.termostato_##name##_humidity
            name: Umidità
            icon: 'mdi:water-percent'
          - entity: input_select.##name##_program
            name: Programma
            icon: 'mdi:calendar-clock'
          - entity: sensor.termostato_##name##_state
            name: Stato
          - entity: sensor.termostato_##name##_custom_mode
            name: Mode
          - entity: input_select.##name##_boost_mode
          - entity: sensor.termostato_##name##_boost_mode
      - type: thermostat
        entity: climate.##name##
            </code>
          </pre>
        </figure>
        <td>
          <button style="float: left;" onclick="cancel()">Cancel</button> <button style="float: right;" onclick="copyClipboard()">Copy</button>
        </td>
    </div>
    </div>
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script>
      function hiddendiv(name) {
        var x = document.getElementById("myDIV");
        var text = $('#my_code').text();
        x.style.display = "none";
        text = text.replaceAll('##name##', name);
        $('#my_code').text(text);
       
        if (x.style.display === "none") {
          x.style.display = "block";
        } else {
          x.style.display = "none";
        }
      }
      </script>
      <script>
        function cancel() {
          var x = document.getElementById("myDIV");
          x.style.display = "none";
          location.reload();
        }
        </script>
      <script>
        function copyClipboard() {
          var elm = document.getElementById("my_code");
          // for Internet Explorer
        
          if(document.body.createTextRange) {
            var range = document.body.createTextRange();
            range.moveToElementText(elm);
            range.select();
            document.execCommand("Copy");
            alert("Copied Card content to clipboard");
          }
          else if(window.getSelection) {
            // other browsers
        
            var selection = window.getSelection();
            var range = document.createRange();
            range.selectNodeContents(elm);
            selection.removeAllRanges();
            selection.addRange(range);
            document.execCommand("Copy");
            alert("Copied Card content to clipboard");
          }
        }
        </script>
  </body>
</html>